.HeaderChart {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-top: 30px;
}

.HeaderChart h2 {
  font-size: 23px;
  color: rgba(247, 247, 258, 1);
  margin-left: 10px;
}

.ChartVoteBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7px;
}

.ChartImg {
  width: 50px;
  height: 30px;
}

@media (max-width: 1023px) {
  .HeaderChart {
    width: 650px;
    padding: 16px 16px;
    box-sizing: border-box;
  }

  .ChartVoteBtn {
    font-size: 14px;
    height: 34px;
  }

  .ChartImg {
    width: 40px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  .HeaderChart {
    width: 320px;
    padding: 16px 12px;
  }

  .ChartVoteBtn {
    font-size: 13px;
    height: 32px;
  }

  .ChartImg {
    width: 36px;
    height: 20px;
  }
}
