/*뱡향키 제외 영역*/
.BoostArea {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  padding: 0 0;
  scroll-behavior: smooth;
  justify-content: center;
}

/*후원 정보*/
.BoostCard {
  border-radius: 30px;
  padding: 10px;
  width: 280px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
}

.BoostCard img {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.BoostCard p {
  padding: 3px;
  text-align: left;
}

/* 위치 텍스트 */
.location-text {
  color: #828282;
  font-size: 20px;
  margin-top: 15px;
}

/* 제목 텍스트*/
.title-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: -25px;
}

/* 금액, 마감일 텍스트 */
.donation-text,
.deadline-text {
  margin: 0 -10px;
  font-size: 14px;
}

.donation-text {
  color: rgba(249, 109, 105, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.deadline-text {
  color: #fff;
}

/*상태바*/
.donation-meta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 3px 8px;
}

/* 태블릿, 모바일 */
@media (max-width: 1023px) {
  .BoostArea {
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0 10px;
  }

  .BoostCard {
    width: 240px;
    scroll-snap-align: start;
  }

  .donation-progress-bar {
    max-width: 240px;
    margin: 0 auto;
  }

  .location-text,
  .title-text {
    font-size: 18px;
  }
}

/* 모바일용 */
@media (max-width: 480px) {
  .BoostArea {
    padding: 0 5px;
    gap: 40px;
  }

  .BoostCard {
    width: 220px;
  }

  .boost-card-uderInfo {
    margin-left: -10px;
  }

  .location-text,
  .title-text {
    font-size: 16px;
  }

  .donation-meta-row {
    margin-bottom: 10px;
  }
}
