/*전체*/
.BoostIdols {
  margin-top: 40px;
}

.BoostIdols h2 {
  font-size: 23px;
  color: rgba(247, 247, 258, 1);
  margin-left: 30px;
}

/*방향키 포함 영역*/
.BoostSlider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
