/*전체*/
.BoostIdols {
  margin: 40px 10px 0px;
}

.BoostIdols h2 {
  font-size: 23px;
  color: rgba(247, 247, 258, 1);
  margin-left: 10px;
}

/*방향키 포함 영역*/
.BoostSlider {
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.carousel-btn.left:focus,
.carousel-btn.right:focus {
  outline: none;
}

@media (max-width: 1023px) {
  .BoostSlider .carousel-btn {
    display: none !important;
  }

  .BoostSlider {
    overflow-x: auto;
  }

  .BoostSlider::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 480px) {
    .BoostSlider .carousel-btn {
      display: none !important;
    }

    .BoostIdols h2 {
      font-size: 20px;
      margin-left: 5px;
    }
  }
}
