/*뱡향키 제외 영역*/
.BoostArea {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  padding: 0 0;
  scroll-behavior: smooth;
  justify-content: center;
}

/*후원 정보*/
.BoostCard {
  border-radius: 30px;
  padding: 10px;
  width: 280px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
}

.BoostCard img {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.BoostCard p {
  padding: 3px;
  text-align: left;
}

/* 위치 텍스트 */
.location-text {
  color: #828282;
  font-size: 20px;
  margin-top: 15px;
}

/* 제목 텍스트*/
.title-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: -25px;
}

/* 금액, 마감일 텍스트 */
.donation-text,
.deadline-text {
  color: #fff;
  font-size: 20px;
  margin: 4px 0;
}
