#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center; 삭제*/
  font-family: "Pretendard", sans-serif;
}

.section-divider {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* 태블릿 버전 (744px 이하) */

@media (max-width: 744px) {
  #root {
    max-width: 696px;
    padding: 1.5rem;
  }
}
