/* 데스크탑 버전 */

.FavoriteIdol-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(11, 98px);
  margin-top: 32px;
  margin-bottom: 42px;
  justify-content: space-between;
}

.FavoriteIdol-card {
  display: flex;
  width: 98px;
  flex-direction: column;
  gap: 8px;
}

.delete-favorite:first-child {
  min-width: 98px;
  min-height: 98px;
}

/* 태블릿 버전 (744px 이하) */

@media (max-width: 744px) {
  .FavoriteIdol-list {
    grid-template-columns: repeat(6, 98px);
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

/* 모바일 버전 (375px 이하) */

@media (max-width: 375px) {
}
