/* 데스크탑 버전 */

.FavoriteIdol-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(11, 98px);
  margin-top: 32px;
  margin-bottom: 42px;
  justify-content: space-between;
}

.FavoriteIdol-card {
  display: flex;
  width: 98px;
  flex-direction: column;
  gap: 8px;
}

/* 태블릿 버전 (744px 이하) */

@media (max-width: 744px) {
  .FavoriteIdol-list {
    grid-template-columns: repeat(6, 98px);
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

/* 모바일 버전 (375px 이하) */

@media (max-width: 375px) {
  .FavoriteIdol-list {
    display: flex;
    gap: 32px;
    margin-top: 12px;
    padding: 0 14px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .FavoriteIdol-card {
    width: 70px;
  }
}
